<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        <title>Motion GUI</title>
    </head>
    <body>
    <div id="motiongui" start_url="{{ url_for('start') }}" stop_url="{{ url_for('stop') }}" camera_img="192.168.1.25:8081"></div>

    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
    </body>
</html>